.room-info {
    display: flex;
    justify-content: center;
    position: relative;
    /* margin-left: 35%; */
    border-bottom: 4px solid #000;
    /* border-radius: 4px; */
}

.copy-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.copy-icon:hover {
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(100%) contrast(93%);
}